@import "variables";
@import "headings";


li {
	padding: 10px;
}

/* We're making one aspect of life easier... */

h2, h4 {
	color: aqua;
	font-family: "Droid Sans", sans-serif;
	font-weight: 600; 
}



/* Everything in this comment seems to be unused code - Bryan F

.span5 {
	height: 12em;
	border-radius: 10px 10px 0 0; 
}

.inputSearch {
	border-radius: 10px 10px 10px 10px;
	width: 100px;
	border: 2px solid black;
}

.inputLimit {
	width: 150px;
	float: top;
	margin: 4px;
}

.merch {
	background: white;
	float: right;
}

.item {
	margin: 26px;
	color: black;
	background: olive;
	height: 10em;
}

.controlPanel {
	background: olive;
	float: left;
	margin: 5%;
	border-radius: 20px 20px 20px 20px;
}







/* Link here *\/
.lh {
	color: white;
}




/* left side panel - Limit your search by: *\/
.lysb {
	height: 40em;
	border-radius: 10px 10px 10px 10px;
	margin: 5%;
}





*/




.acbp {
	color: white;
	width: 22%;
	border-radius: 10px 10px 10px 10px;
	margin: 1em;
	float: left;  
}

.buysell {
	color: purple;	
	font-weight: 1000;
	width: 8em;
}

#about {
	background-color: aqua;
}

#contact {
	background-color: olive;
}

#blog {
	background-color: purple;
}

#press {
	background-color: fuchsia;
}

/* where parents of multiples save, sell & share; sign in | sign up */

.sign {
	color: aqua;
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
	font-weight: bold;
}

body .metro .grid .span12 > .top-info .maininfo > .row {
	margin: -20px 9%;
	max-width: 80%;
	border-radius: 10px 10px 0 0; 
}

body .metro .grid .span12 > .top-info .maininfo > .row > .top-nav {
	margin-left: 0;
	padding-left: 20px;
}


body .metro .grid .span12 > .top-info .maininfo > .row > .top-pic {

}

body .metro .grid .span12 .secondary-content .row {
	margin: -20px 9%;
	background-color: white;
	max-width: 80%;
	border-radius: 0 0 10px 10px;
}



/* This appears to be unused code - Bryan F

#search-top {
	margin-left: 13%;
	margin-right: 12.5%;
}

*/



#image-list {
	margin: 5px 0 auto 5px;
}



/* This appears to be unused code - Bryan F

.connect-footer {
	margin: -20px 8.5%;
	max-width: 80%;
}

*/


/* second-page-sidebar*/

.span3.sidebar-column {
  background-color: #EDFAD1;
  width: 35%;
}

.row.span4 {
    height: 25%;
    width: 100%;
}

input.input-left {
	height: 25px;
	border-radius: 0.5em;
}

button.left-button {
	height: 25px;
	width: 55px;
	background-color: #5fb373;
}
.input.radio {
	border: 1px solid lightgray;
}

.row.span3.input-control.checkbox {
	margin-top: 17px;
}

.metro .grid.fluid .row {
	margin-top: 10px;
}

label {
	font-weight: bold;
}

.row.sidebar-top p {
	border-bottom: 1px solid green;
}
