@import "variables";
@import "headings";


li {
	padding: 20px;
}


body .metro .grid .span12 > .top-info .maininfo > .row > .top-nav {
	margin-left: 0;
	padding-left: 20px;
	border-radius: 0 10px 0 0;
}

body .metro .grid .span12 > .top-info .maininfo > .row > .top-pic {
	border-radius: 10px 0 0 0;
}

body .metro .grid .span12 .secondary-content .row {
	margin-top: -20px;
}

.connect-footer {
	border-radius: 0 0 10px 10px;
}