@import "variables";
@import "headings";


li {
/*	padding: 20px;  */
	padding: 0;
}

/* We're making one aspect of life easier... */

h2, h4 {
	color: aqua;
	font-family: "Droid Sans", sans-serif;
	font-weight: 600; 
}

.span5 {
	height: 12em;

}

.acbp {
	color: white;
	width: 8em;
	border-radius: 10px 10px 10px 10px;
}

.buysell {
	color: purple;	
	font-weight: 1000;
	width: 8em;
}

#about {
	background-color: aqua;
}

#contact {
	background-color: olive;
}

#blog {
	background-color: purple;
}

#press {
	background-color: fuchsia;
}


/* where parents of multiples save, sell & share  */

.sign {
	color: aqua;
	font-family: "Droid Sans", sans-serif;
}

body .metro .grid .span12 > .top-info .maininfo > .row > .top-nav {
	margin-left: 0;
	padding-left: 20px;
	border-radius: 0 10px 0 0;
}

body .metro .grid .span12 > .top-info .maininfo > .row > .top-pic {
	border-radius: 10px 0 0 0;
	color: RGB(214, 241, 240);
}

body .metro .grid .span12 .secondary-content .row {
	margin-top: -20px;
}

.connect-footer {
	border-radius: 0 0 10px 10px;
}