.grid.secondary-content
        .row
          .span6.offset1.text-left.main-content
            h2 We're making one aspect of life easier for parents of mulitples:
            img.place-left(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/owl_bright_blue_64.png") 
            h3.padding10 buying and selling gently used sets of clothes!
            img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")
          .span4.image-container-div
            .image-container.span12#image-list
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
              .overlay-fluid
                div.text-bold These are twins!!!
            .image-container.span12#image-list
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
              .overlay-fluid
                div.text-bold Triplets
            .image-container.span12#image-list
              img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")

