.grid.secondary-content.span8
  .product_grid_container.span8.offset2
    .row
      .product_grid_header
      p.product_file_path.span3 "All > Twin > B/G"
      lable.product_sort_by Sort by
      select.product_dropdown.offset0
        option Price
        option Duration
        option Popularity
        option Seller Rating
      .productpage_navigation.span4.offset4 
        p prev. | page num. | next | view all

  
  .grid.fluid.product_grid_listing
    .targetDiv
