//- includes._secondpage_productgrid.jade

head
	meta(charset="utf-8")
	link(rel="style/css" href="_secondpage_productgrid.css")
	link(rel="stylesheet" href="/vendor/Metro-UI-CSS/css/metro-bootstrap.css")


body
	.grid.fluid
		.row
			.span12
				
		.row
			.span3.bg-lightGreen.sale_item
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
		.row
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
		.row
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours
			.span3.bg-lightGreen
				p Sailor Suits $15.00
				p Jane Joe 4 hours

