
.span12.social
  .div
    .row
      .tile.half.bg-darkCyan.ol-transparent.social__li
        .tile-content.icon
          .icon-facebook
      .tile.half.bg-lightBlue.ol-transparent.social__li
        .tile-content.icon
          .icon-twitter
      .tile.half.bg-brown.ol-transparent.social__li
        .tile-content.icon
          .icon-shit
      .tile.half.bg-darkIndigo.ol-transparent.social__li
        .tile-content.icon
          .icon-github-3


    script(src="js/main.js")