doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/Metro-UI-CSS/css/metro-bootstrap.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .metro
      .grid.fluid
        .row
          .span12.bg-blue.text-center.big-bod
            .row.top-info
              .horizontal-menu.padding10
                ul.span3.offset8
                  li.top-link sign in
                  li.top-link |
                  li.top-link sign up

              .grid.maininfo
                .row.span12.bg-white
                  .span4.offset1.bg-white.top-pic
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
                  .span7.bg-white.top-nav.margin20.nrm
                    ul.unstyled.inline
                      li#about.acbp About
                      li#contact.acbp Contact
                      li#blog.acbp Blog
                      li#press.acbp Press
                    .sign where parents of multiples save, sell & share

            .grid.navagation-bar
              .row.bg-pink.navigation-bar-content
                nav.span9.offset1.element
                  .span2.buysell Buy
                  .span2.buysell Sell
                  .span2.buysell How it Works
                  .span2.buysell Links
                  .span2.buysell Community
                  .span2.element.input-element
                    form
                      .input-control.text.margin20
                        input(type="text" placeholder="search")
                        button.btn-search

            //- .grid.navagation-bar
            //-   .row.bg-pink.navigation-bar-content
            //-     nav.span12.element
            //-       ul.unstyled.inline.text-bold.text-center
            //-         li.buysell Buy
            //-         li.buysell Sell
            //-         li.buysell How it Works
            //-         li.buysell Links
            //-         li.buysell Community
            //-         li.element.input-element
            //-           form
            //-             .input-control.text.margin20.nrm
            //-               input(type="text" placeholder="search")
            //-               button.btn-search



            .grid.secondary-content
              .row
                .span6.offset1.text-left
                  h2 We're making one aspect of life easier for parents of mulitples:
                  img.place-left(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/owl_bright_blue_64.png") 
                  h3.padding10 buying and selling gently used sets of clothes!
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")
                .span4
                  .image-container.span12#image-list
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
                    .overlay-fluid
                      div.text-bold These are twins!!!
                  .image-container.span12#image-list
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
                    .overlay-fluid
                      div.text-bold Triplets
                  .image-container.span12#image-list    
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")
                .span12.social
                  .div
                    .row
                      .tile.half.bg-darkCyan.ol-transparent.social__li
                        .tile-content.icon
                          .icon-facebook
                      .tile.half.bg-lightBlue.ol-transparent.social__li
                        .tile-content.icon
                          .icon-twitter
                      .tile.half.bg-brown.ol-transparent.social__li
                        .tile-content.icon
                          .icon-shit
                      .tile.half.bg-darkIndigo.ol-transparent.social__li
                        .tile-content.icon
                          .icon-github-3
            .grid
              .row
                .span12.margin20
                  ul.horizontal-menu
                    li Link Here
                    li Link Here
                    li Link Here
                    li Link Here
                    li Link Here

    script(src="js/main.js")