doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/Metro-UI-CSS/css/metro-bootstrap.css")
    link(rel="stylesheet" href="css/main.css")

  body
    // [if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]

    .metro
      .grid.fluid
        .row
          .span12.bg-blue.text-center
            .row.top-info
              ul.span3.offset8.unstyled.inline
                li.sign sign in
                li.sign |
                li.sign sign up

              .grid.maininfo
                .row.span12.bg-white
                  .span5.bg-white.top-pic
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
                  .span5.bg-white.top-nav
                    ul.unstyled.inline
                      li#about.acbp About
                      li#contact.acbp Contact
                      li#blog.acbp Blog
                      li#press.acbp Press
                  .row
                    .sign where parents of multiples save, sell & share

          .grid.navbar
            .row.bg-pink
              nav.span9.offset1
                ul.unstyled.inline.text-center
                  li.buysell Buy
                  li.buysell Sell
                  li.buysell How it Works
                  li.buysell Links
                  li.buysell Community
                  input.inputSearch(type="text" placeholder="search")

            .grid.secondary-content
              .row.bg-white
                .span12
                  .row.bg-white.span12.offset1
                    .controlPanel#limit.span3
                      p.lysb Limit your search by:
                        input.inputLimit(type="text")
                    .merch.span8              
                      div All > Twin > B/G
                      .row
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                      .row
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                      .row
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit
                        .grid.item.span2
                          p.item Sailor Suit

            .grid.secondary-content
              .row
                .span6.offset1
                  
            .grid
              .row
                .span10.offset1.connect-footer           
            .grid
              .row
                .span12
                  ul.horizontal-menu.compact
                    li.lh Link Here
                    li.lh |
                    li.lh Link Here
                    li.lh |
                    li.lh Link Here
                    li.lh |
                    li.lh Link Here
                    li.lh |
                    li.lh Link Here
                    li.lh |
                    li.lh Link Here

    script(src="js/main.js")