doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/Metro-UI-CSS/css/metro-bootstrap.css")
    link(rel="stylesheet" href="css/main_page.css")

  body
                .grid.secondary-content
              .row
                .span6.offset1.text-left
                  h2 We're making one aspect of life easier for parents of mulitples:
                  img.place-left(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/owl_bright_blue_64.png") 
                  h3.padding10 buying and selling gently used sets of clothes!
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")
                .span4
                  .image-container.span12#image-list
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
                    .overlay-fluid
                      div.text-bold These are twins!!!
                  .image-container.span12#image-list
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
                    .overlay-fluid
                      div.text-bold Triplets
                  .image-container.span12#image-list    
                    img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")



    script(src="js/main.js")