doctype html
html(lang="en-US")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title My Title
		link(rel="stylesheet" href="/vendor/Metro-UI-CSS/css/metro-bootstrap.css")
		link(rel="stylesheet" href="css/main.css")

	body 	
		.grid.sidebar
			.span3.sidebar-column
				.row.span12
					.row.sidebar-top
						p Limit your search by:
					.row.sidebar-top
						form
							input.input-left(type="text" placeholder="Search...")
							button.left-button.icon-rocket.on-right
				.row.span12.options
					.span6
						p Condition:
					.row.input-control.checkbox
							.input.check(type="checkbox")
								p New
					.row.input-control.checkbox
							.input.check(type="checkbox")
								p Gently Used
				.row.options
					p Lorem ipsum kbnvbevbns;lnvn;wnv;swn;wi
				.row.options
					p Lorem ipsum kbnvbevbns;lnvn;wnv;swn;wi
				.row.input-control.select
					p Brands
					select 
						option One
						option Two
						option Three
						option Four



