.grid.sidebar
    .span3.sidebar-column.offset1
        .row.span12
          .row.sidebar-top
            p
              strong Limit your search by:
          .row.sidebar-top
            input.input-left(type="text" placeholder="Search...")
            button.left-button.icon-rocket.on-right.rocketButton
        .row.span12
          .row.span4.options1
            p
              strong Condition:
          .row.span3.input-control.checkbox
            label New
              .input.check(type="checkbox")
          .row.span4.input-control.checkbox
            label Used
              .input.check(type="checkbox")
               
        .row.span12
          .row.span4.options1
            p
              strong Size:
        .row.span12
          .span6.input-control.checkbox
            label 4
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label 8
              .input.check(type="checkbox")
        .row.span12
          .span6.input-control.checkbox
            label 5
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label 9
              .input.check(type="checkbox")
        .row.span12
          .span6.input-control.checkbox
            label 6
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label 10
              .input.check(type="checkbox")
        .row.span12
          .span6.input-control.checkbox
            label 7
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label 11
              .input.check(type="checkbox")
        .row.span12
          .row.span4.options1
            p
              strong Season:
        .row.span12
          .span6.input-control.checkbox
            label Winter
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label Spring
              .input.check(type="checkbox")
        .row.span12
          .span6.input-control.checkbox
            label Summer
              .input.check(type="checkbox")
          .span6.input-control.checkbox
            label Fall
              .input.check(type="checkbox")
        .row.span12.input-control.checkbox
          label Winter
            .input.check(type="checkbox")
        .row.span12
          .row.span4.options1
            p
              strong Type:
        .row.span12.input-control.checkbox
          label Any
            .input.check(type="checkbox")
        .row.span12.input-control.checkbox
          label One piece
            .input.check(type="checkbox")
        .row.span12.input-control.checkbox
          label Tops
            .input.check(type="checkbox")
        .row.span12.input-control.checkbox
          label Bottom
            .input.check(type="checkbox")
        .row.input-control.select
          p
            strong Brands
          select
            option One
            option Two
            option Three
            option Four
            option Five
            option Six